@model DistrictLevel
<table style="border:1px solid #ccc;margin:0 auto;width:100%;background:#f5eded">
    <tr>
        <td style="border:1px solid #ccc">
            <h1 style="text-align:center;">
                سامانه مدیریت منابع انسانی
            </h1>
        </td>
    </tr>
    <tr>
        <td style="direction: rtl; padding: 20px; border: 1px solid #ccc;">
            <h4>حساب کاربری با کد ملی <u>@Model.nationalCode</u></h4>
            <p>
                جهت بازیابی رمز عبور حساب کاربری خود لینک زیر را باز کنید:
            </p>
            <br/><br/>
                <a style="border: 2px solid #007BFF; border-radius: 5px; text-decoration: none;
                color: #fff; background: #007BFF; text-align: center; padding:10px;"
                href="http://localhost:3449/ResetPasswordDistrict/@Model.nationalCode">بازیابی کلمه عبور</a>
        </td>
    </tr>
</table>
