@{
    ViewData["Title"] = "نداشتن مجوز دسترسی - سطح بخش";
    Layout = "~/Views/Shared/_LayoutLoginPage.cshtml";
}
<div class="alert alert-danger mx-auto mt-5 w-50 p-5 d-flex flex-column justify-content-center rounded">
    
        <i class="fa fa-ban fa-5x text-center custom-font--8"></i>
        <h3 class="text-center mt-3 cursor">شما مجوز دسترسی به این صفحه را ندارید.</h3>
    
</div>