@model ProvinceLevel
@{
    ViewData["Title"] = "فعال کردن کارکنان استان - سطح استان";
}
<div class="btn btn-outline-primary btn-sm  my-1 mx-3">فعال کردن کارمند در سطح استان</div>
<div class="border border-warning w-50 mx-auto rounded my-2 p-2 cursor font-alertLogin shadow">
    <h6>آیا از فعال کردن کاربر با کد ملی <span class="text-primary" >@Model.nationalCode</span> مطمئن هستید؟</h6>
    <p>
        <i class="fa fa-exclamation-circle fa-lg text-warning mr-1 my-1"></i>
        توجه شود که در صورت تایید این پیام، تمامی دسترسی های کاربر مجدد فعال می شود.
    </p>
    <div class="d-flex justify-content-end">
        <a class="btn btn-success btn-sm mx-1" href="/ProvinceArea/Management/ActivationUserDeletedProvince/@Model.nationalCode" >تایید</a>
        <a class="btn btn-primary btn-sm" asp-controller="management" asp-action="ArchiveProvince">&larr;</a>
    </div>
</div>


