@model ProvinceLevel
@*قالب ایمیل برای بازیابی فراموشی رمز عبور در سطح استان*@
<div style="direction:rtl;padding:20px">
    <h2>حساب کاربری با کد ملی @Model.nationalCode</h2>
    <p>
        جهت بازیابی رمز عبور حساب کاربری خود روی لینک زیر کلیک کنید
    </p>
    <p>
        <a href="https://localhost:44349/Account/ResetPassword/@Model.nationalCode">بازیابی کلمه عبور</a>
    </p>
</div>
