@model ERP.Models.ResetPassword
@{
    ViewData["Title"] = "تغییر رمز عبور - سطح شهرستان";
    Layout = "~/Views/Shared/_LayoutLoginPage.cshtml";
}

<div class="row d-flex justify-content-center my-md-4 mx-0">
    <div class="col-md-3 border bg-light p-0 rounded-lg box-form">
        <div class="border-bottom bg-info col-md-12 py-md-2 rounded-top">
            <div class="rounded-circle mx-auto login-logo d-flex align-items-center justify-content-center">
                <img src="~/icons/login-logo.png" />
            </div>
            <h4 class="text-white-50 mt-md-3 cursor text-center">
                سامانه مدیریت منابع انسانی<br />
                <span class="login-h4-span">سطح دسترسی شهرستان</span>
            </h4>
        </div>
        <div class="col-md-12">
            <form asp-area="CountyArea" asp-action="ResetPasswordCounty" asp-controller="Account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="nationalCode" type="hidden" value="@ViewBag.nationalCode" />
                <p class="mt-1 cursor">تغییر رمز عبور</p>
                <div class="form-group mb-0">
                    <label asp-for="userPass" class="control-label font-weight-bold custom-font--3 text-secondary">
                        رمز عبور جدید
                    </label>
                    <input asp-for="userPass" class="form-control" autocomplete="off" />
                    <span asp-validation-for="userPass" class="text-danger cursor"></span>
                </div>
                <div class="form-group mb-0">
                    <label asp-for="ReuserPass" class="control-label font-weight-bold custom-font--3 text-secondary"></label>
                    <input asp-for="ReuserPass" class="form-control" autocomplete="off" />
                    <span asp-validation-for="ReuserPass" class="text-danger cursor"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="تایید" class="btn btn-primary w-100 mb-md-2 mt-md-3" />
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row m-0 p-0">
    <div class="col-12 d-flex justify-content-end ">
        <div class="button-back d-flex align-items-center justify-content-center rounded-lg mx-md-1 position-fixed bg-primary">
            <a href="/Clogin" class="text-decoration-none text-light">&larr;</a>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

